annotated-types==0.7.0
anyio==4.8.0
attrs==23.2.0
blinker==1.9.0
cachetools==5.5.2
certifi==2024.6.2
charset-normalizer==3.3.2
click==8.1.8
colorama==0.4.6
cycler==0.11.0
dacite==1.8.1
emoji==2.8.0
exceptiongroup==1.2.2
fastapi==0.115.8
Flask==3.1.0
fonttools==4.29.1
google-auth==2.38.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
gspread==6.2.0
h11==0.14.0
htmlmin==0.1.12
httplib2==0.22.0
idna==3.7
ImageHash==4.3.1
importlib_metadata==7.1.0
itsdangerous==2.2.0
Jinja2==3.1.4
joblib==1.4.2
kiwisolver==1.3.2
llvmlite==0.42.0
MarkupSafe==2.1.5
matplotlib==3.5.1
multimethod==1.11.2
mysql-connector==2.2.9
mysql-connector-python==8.0.28
mysql-connector-python-rf==2.2.2
networkx==3.2.1
numba==0.59.1
numpy==1.26.4
oauth2client==4.1.3
oauthlib==3.2.2
packaging==21.3
pandas==2.2.2
pandas-profiling==3.6.6
patsy==0.5.6
phik==0.12.4
Pillow==9.0.1
protobuf==3.19.4
pyaes==1.6.1
pyasn1==0.6.1
pyasn1_modules==0.4.1
pydantic==2.7.3
pydantic-settings==2.3.3
pydantic_core==2.18.4
pygame==2.5.0
pyparsing==3.0.7
python-dateutil==2.8.2
python-dotenv==1.0.1
pytz==2021.3
PyWavelets==1.6.0
PyYAML==6.0.1
random2==1.0.1
requests==2.32.3
requests-oauthlib==2.0.0
rsa==4.9
scipy==1.13.1
seaborn==0.13.2
six==1.16.0
sniffio==1.3.1
starlette==0.45.3
statsmodels==0.14.2
Telethon==1.38.1
tqdm==4.66.4
typeguard==4.3.0
typing_extensions==4.12.1
tzdata==2024.1
urllib3==2.2.1
uvicorn==0.34.0
visions==0.7.6
Werkzeug==3.1.3
wordcloud==1.9.3
ydata-profiling==4.8.3
zipp==3.19.2
